.cart-modal-none, .cart-modal-block {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(100, 39, 39, 0.397);
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cart-modal-block {
    display: block;
}

.cart-modal-none {
    display: none;
}

.cart-buttons-container {
   text-align: right;
   margin-right: 10px;
}