.container {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.food_items {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 300px;
    background-color: rgb(255, 255, 255);
}

.button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 15px;
    margin-left: 800px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-right: 30px;
}


.cart_button_container {
    width: 14rem;
    border-radius: 5rem;
    background: #4D1601;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    font-weight: bold;
}