.description-container {
  background-color: #393636;
  max-width: 30em;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  margin-top: 30px;
}


.description-container h2 {
  margin-bottom: 10px;
  font-family: cursive;
}

.description-container p {
  margin-bottom: 10px;
  font-family: system-ui;
  font-size: 12px;
}