* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 60px;
    background: #B0280B; 
    display: flex;
    justify-content: space-between;
    
}


.inner{
    width: 80%;
    margin: auto;
}

.meal {
    color: white;
    font-weight: 600;
    font-size: 30px; 
    margin-top: 7.5px; 
    margin-left: 100px; 
}
