body,
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3f3f3f;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}




.food_items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}