.cart-item-info-container, .item-buttons-container {
    display: inline;
}

.item-buttons-container {
    margin-left: 280px;
}



hr {
    border: 1px solid #c97373; /* Set the color and style of the line */
    margin: 10px 0;
    padding-right: 70px;
    width:500px;
}